/* Apply parallax effect to the background image */
#about {
    background-image: url('background.jpg'); /* Replace with your image path */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  
  /* Adjust text styles for readability */
  .centered {
    text-align: center;
    padding: 50px;
    color: white; /* Choose a suitable text color for your background */
  }
  
/* Reset some default styles */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Add this CSS for the animation */
.nav-link.animated {
    transition: transform 0.5s ease-in-out; /* Add a CSS transition */
}

.nav-link.animated:hover {
    transform: scale(1.1); /* Apply a scale transformation on hover */
}

.card{
    background-color: rgb(84, 137, 235);
}







/* Style the navbar */
nav {
    padding: 1.5% 2%;
    background-color: rgb(16, 146, 221);
    border-bottom: 4px solid #333;
}

#about {
    background-color: rgb(238, 221, 196);
}

nav ul {
    list-style-type: none;
    display: flex;
    
    padding: 10px;
}

nav li {
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 25px; /* Increase the font size (adjust as needed) */
}

/* Style the centered section */
.centered {
    text-align: center;
    padding: 20px;
}

.centered img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

/* Style the academic and experience sections */
section {
    padding: 40px;
}

h2 {
    text-align: center;
}

.column {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.column img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

/* Add more styles as needed */
